<ion-view title="Home">
    <ion-content pading="true">
        <div class="list list-inset">
            <!--Search bar -->
            <div class="item-input">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
                <button class="button button-small">Search</button>
            </div>
            <!--Categories Button -->
            <a class="item" ui-sref="categories">Categories</a>
            <!--Map Button -->
            <a class="item" ui-sref="map">Map</a>
        </div>

    </ion-content>
</ion-view>